@tailwind base;
@tailwind components;
@tailwind utilities;


@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
}

input {
    @apply border-b
}

section {
    -webkit-appearance: none;
}

@media print {
    body {
        visibility: hidden;
    }
    #form_conteiner {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }
}